
module_4/data/df_with_poly.cvs
module_4/data/df_with_poly.zip
module_6/kaggle/data/df3.csv
module_6/kaggle/data/df3_cols.csv
module_6/kaggle/data/df3_v3.csv
module_6/kaggle/data/df3_v3_cols.csv
final/.ipynb_checkpoints/blend-b1d58acc-e76c-4d5e-9f92-fe33a7e6b11e-checkpoint.ipynb
final/__pycache__/utils.cpython-38.pyc
final/__pycache__/utils_module06022021_without_GPU.cpython-38.pyc
final/Alfa_task2/1_Data_to_spark.ipynb
final/Alfa_task2/2_Features_main.ipynb
final/Alfa_task2/3_Features_smooth.ipynb
final/Alfa_task2/4_1_Fasttext_mcc.ipynb
final/Alfa_task2/4_2_Fasttext_card_type.ipynb
final/Alfa_task2/5_Pipeline_LGBM_blend_NN.ipynb
final/Alfa_task2/functions/smooth_statistic.py
final/Alfa_task2/README.md
final/AlfaBattle2.0-.zip
final/AlfaBattle_task2-.zip
final/BaseLine/.DS_Store
final/BaseLine/baseline_boosting/.ipynb_checkpoints/baseline-checkpoint.ipynb
final/BaseLine/baseline_boosting/__init__.py
final/BaseLine/baseline_boosting/baseline.ipynb
final/BaseLine/baseline_boosting/features.py
final/BaseLine/README.md
final/BaseLine/rnn_baseline/__init__.py
final/BaseLine/rnn_baseline/advanced_baseline/.DS_Store
final/BaseLine/rnn_baseline/advanced_baseline/__init__.py
final/BaseLine/rnn_baseline/advanced_baseline/pytorch_baseline.ipynb
final/BaseLine/rnn_baseline/advanced_baseline/tf_baseline.ipynb
final/BaseLine/rnn_baseline/baseline/__init__.py
final/BaseLine/rnn_baseline/baseline/pytorch_baseline.ipynb
final/BaseLine/rnn_baseline/baseline/tf_baseline.ipynb
final/BaseLine/rnn_baseline/constants/buckets_info.pkl
final/BaseLine/rnn_baseline/constants/dense_features_buckets.pkl
final/BaseLine/rnn_baseline/constants/embedding_projections.pkl
final/BaseLine/rnn_baseline/data_generators.py
final/BaseLine/rnn_baseline/dataset_preprocessing_utils.py
final/BaseLine/rnn_baseline/pytorch_training.py
final/BaseLine/rnn_baseline/tf_training.py
final/BaseLine/rnn_baseline/training_aux.py
final/BaseLine/utils.py
final/blend.ipynb
final/data/alfabattle2_sand_alfabattle2_alpha_sample (1).csv
final/data/alfabattle2_sand_alfabattle2_test_target_contest.csv
final/data/alfabattle2_sand_alfabattle2_train_target.csv
final/data/constants_for_rnn.zip
final/data/preproc_data_for_boosting.zip
final/data_lgbm/data_train.csv
final/data_lgbm/mode.txt
final/data_lgbm/model1_1/mode_1.txt
final/data_lgbm/model1_1/mode_2.txt
final/data_lgbm/model1_1/mode_3.txt
final/data_lgbm/model1_1/mode_4.txt
final/data_lgbm/model1_1/mode_5.txt
final/data_lgbm/model1_2/mode_1.txt
final/data_lgbm/model1_2/mode_2.txt
final/data_lgbm/model1_2/mode_3.txt
final/data_lgbm/model1_2/mode_4.txt
final/data_lgbm/model1_2/mode_5.txt
final/data_lgbm/model2/mode_1.txt
final/data_lgbm/model2/mode_2.txt
final/data_lgbm/model2/mode_3.txt
final/data_lgbm/model2/mode_4.txt
final/data_lgbm/model2/mode_5.txt
final/data_lgbm/test_data.csv
final/data_proto/models_booster/model1/feats_model1.pickle
final/data_proto/models_booster/model1/model1_1.txt
final/data_proto/models_booster/model1/model1_2.txt
final/data_proto/models_booster/model1/model1_3.txt
final/data_proto/models_booster/model1/model1_4.txt
final/data_proto/models_booster/model1/model1_5.txt
final/data_proto/models_booster/model1/sub_model1.csv
final/data_proto/models_booster/model2/feats_model2.pickle
final/data_proto/models_booster/model2/model2_1.txt
final/data_proto/models_booster/model2/model2_2.txt
final/data_proto/models_booster/model2/model2_3.txt
final/data_proto/models_booster/model2/model2_4.txt
final/data_proto/models_booster/model2/model2_5.txt
final/data_proto/models_booster/model2/sub_model2.csv
final/data_proto/models_booster/model3/feats_model3.pickle
final/data_proto/models_booster/model3/model3_1.txt
final/data_proto/models_booster/model3/model3_2.txt
final/data_proto/models_booster/model3/model3_3.txt
final/data_proto/models_booster/model3/model3_4.txt
final/data_proto/models_booster/model3/model3_5.txt
final/data_proto/models_booster/model3/sub_model3.csv
final/data_proto/models_booster/model4/feats_model4.pickle
final/data_proto/models_booster/model4/model4_1.txt
final/data_proto/models_booster/model4/model4_2.txt
final/data_proto/models_booster/model4/model4_3.txt
final/data_proto/models_booster/model4/model4_4.txt
final/data_proto/models_booster/model4/model4_5.txt
final/data_proto/models_booster/model4/sub_model4.csv
final/data_proto/models_booster/model_CatBoost/feats_modelCatBoost.pickle
final/data_proto/models_booster/model_CatBoost/model_CatBoost_1
final/data_proto/models_booster/model_CatBoost/model_CatBoost_2
final/data_proto/models_booster/model_CatBoost/model_CatBoost_3
final/data_proto/models_booster/model_CatBoost/model_CatBoost_4
final/data_proto/models_booster/model_CatBoost/model_CatBoost_5
final/data_proto/models_booster/model_CatBoost/sub_modelCatBoost.csv
final/data_proto/models_booster/models.zip
final/data_proto/processed_chunk_000.parquet
final/data_proto/processed_chunk_000_train.parquet
final/data_proto/top_selected_feats.pickle
final/eda.ipynb
final/from_GITHUB/32_kernels/alfabattle-2-.zip
final/from_GITHUB/SAMOHIN/42.csv
final/from_GITHUB/SAMOHIN/constants/buckets_info.pkl
final/from_GITHUB/SAMOHIN/constants/dense_features_buckets.pkl
final/from_GITHUB/SAMOHIN/constants/embedding_projections.pkl
final/from_GITHUB/SAMOHIN/diplom-.zip
final/from_GITHUB/SAMOHIN/diplom.pptx
final/from_GITHUB/SAMOHIN/eda.ipynb
final/from_GITHUB/SAMOHIN/model.ipynb
final/from_GITHUB/SAMOHIN/preprocessing.ipynb
final/from_GITHUB/SAMOHIN/prototypes/inference_web.ipynb
final/from_GITHUB/SAMOHIN/README.md
final/from_GITHUB/SAMOHIN/rnn_advanced_submission.csv
final/from_GITHUB/SAMOHIN/utils/data_generators.py
final/from_GITHUB/SAMOHIN/utils/dataset_preprocessing_utils.py
final/from_GITHUB/SAMOHIN/utils/tf_training.py
final/from_GITHUB/SAMOHIN/utils/training_aux.py
final/from_GITHUB/SAMOHIN/utils/utils.py
final/from_GITHUB/SAMOHIN/web_apps/42.csv
final/from_GITHUB/SAMOHIN/web_apps/alfabattle2_alpha_sample.csv
final/from_GITHUB/SAMOHIN/web_apps/data/42.csv
final/from_GITHUB/SAMOHIN/web_apps/data_generators.py
final/from_GITHUB/SAMOHIN/web_apps/dataset_preprocessing_utils.py
final/from_GITHUB/SAMOHIN/web_apps/inference.py
final/from_GITHUB/SAMOHIN/web_apps/static/css/main.css
final/from_GITHUB/SAMOHIN/web_apps/static/css/style.css
final/from_GITHUB/SAMOHIN/web_apps/static/data/arm_compiler.BUILD
final/from_GITHUB/SAMOHIN/web_apps/static/js/main.js
final/from_GITHUB/SAMOHIN/web_apps/templates/css/main.css
final/from_GITHUB/SAMOHIN/web_apps/templates/index.html
final/from_GITHUB/SAMOHIN/web_apps/web_inference.py
final/from_GITHUB/SAMOHIN/web_apps/wsgi.py
final/from_GITHUB/Vovandro/AlfaBattle-.zip
final/from_GITHUB/Zahar/alpha_task_2-.zip
final/prototip.ipynb
final/README.md
final/sf-dst-10-diplom-5-ml-sokolov.ipynb
final/streamlit/__pycache__/utils_module06022021_without_GPU.cpython-38.pyc
final/streamlit/app.py
final/streamlit/app_final.py
final/streamlit/app_final_2.py
final/streamlit/app_final_3.py
final/streamlit/app_final_4.py
final/streamlit/app_final_5.py
final/streamlit/data/arhiv/df_train_proto.csv
final/streamlit/data/arhiv/df_y_proba_defolt.csv
final/streamlit/data/arhiv/df_y_proba_no_defolt.csv
final/streamlit/data/arhiv/df_y_true_pred_model1.csv
final/streamlit/data/arhiv/df_y_true_pred_model2.csv
final/streamlit/data/arhiv/list_defolt.pickle
final/streamlit/data/arhiv/list_no_defolt.pickle
final/streamlit/data/arhiv/model1/mode_1.txt
final/streamlit/data/arhiv/model1/mode_2.txt
final/streamlit/data/arhiv/model1/mode_3.txt
final/streamlit/data/arhiv/model1/mode_4.txt
final/streamlit/data/arhiv/model1/mode_5.txt
final/streamlit/data/arhiv/model2/mode_1.txt
final/streamlit/data/arhiv/model2/mode_2.txt
final/streamlit/data/arhiv/model2/mode_3.txt
final/streamlit/data/arhiv/model2/mode_4.txt
final/streamlit/data/arhiv/model2/mode_5.txt
final/streamlit/data/arhiv/top_selected_feats.pickle
final/streamlit/data/arhiv/top_selected_feats2.pickle
final/streamlit/data/data.csv
final/streamlit/data/df_descr_data.pickle
final/streamlit/data/dict_descr_feats.pickle
final/streamlit/data/for_proto/alfabattle2_sand_alfabattle2_train_target.csv
final/streamlit/data/for_proto/data_train.csv
final/streamlit/data/for_proto/dict_descr_feats.pickle
final/streamlit/data/for_proto/top_selected_feats2.pickle
final/streamlit/data/list_clients.pickle
final/streamlit/data/model/feats_model3.pickle
final/streamlit/data/model/model3_1.txt
final/streamlit/data/model/model3_2.txt
final/streamlit/data/model/model3_3.txt
final/streamlit/data/model/model3_4.txt
final/streamlit/data/model/model3_5.txt
final/streamlit/heroku_deploy/
final/streamlit/list_clients.pickle
final/streamlit/pictures/arhiv/confusion_matrix_model1.png
final/streamlit/pictures/arhiv/confusion_matrix_model2.png
final/streamlit/pictures/arhiv/ROC_PR_curves_model1.png
final/streamlit/pictures/arhiv/ROC_PR_curves_model2.png
final/streamlit/pictures/feats_imp.png
final/streamlit/pictures/shap.png
final/streamlit/prototip_streamlit.ipynb
final/streamlit/requirements_proto.txt
final/streamlit/utils_module06022021_without_GPU.py
final/streamlit/utils_module21042021.py
final/streamlit/woc-streamlit.py
final/sub/rnn_advanced_baseline_submission.csv
final/sub/rnn_advanced_baseline_submission2.csv
final/sub/rnn_advanced_baseline_submission3.csv
final/sub/sub.csv
final/sub/sub1.csv
final/sub/sub_07nn_03cat.csv
final/sub/sub_08nn_02cat.csv
final/sub/sub_095nn_005cat.csv
final/sub/sub_09nn_01cat.csv
final/sub/sub_10nn_00cat.csv
final/sub/sub_1nn.csv
final/sub/sub_1nn_015.csv
final/sub/sub_1nn_015_015.csv
final/sub/sub_1nn_05.csv
final/sub/sub_1nn_2.csv
final/sub/sub_nn_nn2_nn3.csv
final/sub/sub_nnn_cat.csv
final/sub/sub_nnn_lgb1.csv
final/sub/sub_nnn_lgb1_c.csv
final/sub/sub_top.csv
final/utils.py
final/utils_module06022021_without_GPU.py
final/Презентации по 2 задаче-20210225T142132Z-001.zip
final/Презы/1 место.pdf
final/Презы/2 место.pdf
final/Презы/3 место.pdf
heroku_deploy/
